! .Xresources
!
! loads modules from .Xresources.d
#include ".Xresources.d/rxvt-unicode"
#include ".Xresources.d/colors.d/gruvbox.dark"
!#include ".Xresources.d/colors.d/solarized.dark"

! Global Settings
!
! diasbles scrollbar
*.scrollBar:		false

!! Fonts
!
*.font:			-*-gohufont-medium-*-normal-*-11-*
*.boldFont:		-gohu-gohufont-medium-*-normal-*-11-*
!*.font:			xft:roboto-mono:size=8
!*.boldFont:		xft:roboto-mono:size=8
!*.letterSpace:		-2

! Font Settings
!
Xft.dpi:		96
Xft.antialias:		true
Xft.hinting:		true
Xft.rgba:		rgb
Xft.autohint:		false
Xft.hintstyle:		hintstyle
Xft.lcdfilter:		lcddefault
