# ~/.bash_aliases

# ls
alias ll='ls -lh'
alias la='ls -la'

# test a .zip archive
alias uzt='unzip -tq'

# shows .zip archive details
alias uzi='unzip -Z'

# show the octal permission for the file
alias perm='stat -c "%a %n" '

# get keys from github and overwrite authorized keys
alias getkeys='curl -s https://github.com/johngriese.keys > ~/.ssh/authorized_keys'
